
.lavishly-yours-regular {
    font-family: "Lavishly Yours", cursive;
    font-weight: 500;
    font-style: normal;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: "Lora", serif;
}

.button-style {
    background-color: blue;
    color: white;
    border-radius: 30px;
}

p{
    font-family: "Lora", serif;
    font-size: 11pt;
    color: black;
}

.p1{
    font-family: "Lora", serif;
    font-size: 10pt;
}

.bt{
    background-color: #567b95 ;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 8pt;
    padding: 6px 18px;
    font-weight: bold;
}

.bus{
    border: 2px solid white;
    font-size: 8.5pt;
    background-color: white;
}

.bg-info{
    background-color: white ;
}

.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
}
 .dropdown:hover .content{
     display: block;
 }
.dropdown:hover button{
    background-color: white;
}
.dropdown a:hover{
    background-color: white;
}